// Body

// Typography

// Colors
$mdc-theme-primary: hsl(46, 70%, 40%);
$mdc-theme-secondary: hsl(46, 70%, 40%);
// $mdc-theme-primary: #333;
$mdc-typography-font-family: unquote("Source Sans Pro, Arial, sans-serif");
