// Body

// Typography

// Colors
$mdc-theme-primary: hsl(46, 70%, 40%);
$mdc-theme-secondary: invert($mdc-theme-primary);
// $mdc-typography-font-family: unquote("Source Sans Pro, Roboto, sans-serif");
