// Variables
@import "variables";

// External
@import "@material/react-dialog/index.scss";
@import "@material/react-tab-bar/index.scss";
@import "@material/react-tab-scroller/index.scss";
@import "@material/react-tab/index.scss";
@import "@material/react-tab-indicator/index.scss";

@import "@material/react-list/index.scss";
@import "@material/react-menu-surface/index.scss";
@import "@material/react-menu/index.scss";
@import "@material/react-select/index.scss";
@import "@material/react-checkbox/index.scss";
@import "@material/react-radio/index.scss";
@import "@material/react-switch/index.scss";

@import "@material/react-typography/index.scss";
@import "@material/react-layout-grid/index.scss";
@import "@material/react-card/index.scss";
@import "@material/react-button/index.scss";
@import "@material/react-text-field/index.scss";

// Bootstrap
@import "menu";
@import "form";
@import "footer";

#App {
    max-width: 1024px;

    a {
        color: $mdc-theme-primary;
    }

    .section {
        margin-bottom: 30px;

        .CardItem {
            padding: 15px;
            height: 100%;
            @include mdc-card-outline($mdc-theme-primary, thin);
        }
    }

    @at-root {
        #MainTitle {
            text-align: center;
        }

        #Container_CopaDor {
            padding: 30px;
        }
    }

    .Logo {
        width: 100%;
        height: auto;

        // &__CopaDor {
        // }

        &__IPNET {
            max-width: 200px;
        }
    }

    .LoginFieldItem {
        margin-bottom: 15px;
    }
}
